@font-face {
    font-family: 'BillieEilishFont';
    src: url('Font/BillieEilish.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    background-color: #0a0a0a;
    color: #e6e6e6;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    text-align: center;
    padding: 40px;
    border-bottom: 3px solid #39ff14;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
}

h1 {
    font-family: 'BillieEilishFont', sans-serif;
    font-size: 80px;
    color: #39ff14;

    p {
        font-size: 20px;
        margin-top: 10px;
    }
}

h2 {
    font-family: 'BillieEilishFont', sans-serif;
    font-size: 50px;
    color: #39ff14;
    border-bottom: 2px solid #39ff14;
    padding-bottom: 8px;
}

nav {
    background-color: #1a1a1a;
    padding: 15px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #39ff14;
    font-family: 'BillieEilishFont', sans-serif;
    font-size: 26px; 
    transition: 0.3s;
}

nav ul li a:hover {
    color: white;
    text-shadow: 0 0 10px #39ff14;
}

section {
    background-color: #141414;
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
    font-size: 20px;
}

section p {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
}

img {
    width: 500px;
    border: 3px solid #39ff14;
    margin-top: 15px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #39ff14;
}

ul li:first-child {
    color: #39ff14;
    font-weight: bold;
}

ul li:last-child {
    font-style: italic;
}

form {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #39ff14;
    background-color: #0a0a0a;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #39ff14;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: 'BillieEilishFont', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: black;
    color: #39ff14;
    border: 2px solid #39ff14;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    border-top: 3px solid #39ff14;
    font-family: 'BillieEilishFont', sans-serif;
}

@media (max-width: 500px) {
   img{
    width: 100%;
    object-fit: cover;
   } 
}

@media (min-width: 500px) {
   
}